{{> menu}}
<form action="/place/{{place._id}}/editmonument/{{_id}}" method="POST">
<section class="section">
  <div class="title">
    Update Monument
  </div>
</section>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          {{monument.name}}
        </td>
        <td>
          {{monument.description}}
        </td>
        <td>
          {{monument.location.lat}}
        </td>
        <td>
          {{monument.location.lng}}
        </td>
        <td>
          {{monument.category.typeMonument}}
        </td>
      </tr>
      
      <tr>
        <td>
          <div class="field">
            <label class="label"></label> <input class="input" type="text"  name="name">
          </div>
        </td>
        <td>
            <div class="field">
                <label class="label"></label> <input class="input" type="text"  name="description">
            </div>
        </td>
        <td>
            <div class="field">
                <label class="label"></label> <input class="input" type="text"  name="lat"> 
            </div>
        </td>
        <td>
            <div class="field">
                <label class="label"></label> <input class="input" type="text"  name="lng">
            </div>
        <td>
        <div class="field">
          <div class="select">
            <select name="category">
              {{#each categories }}
               <option> {{typeMonument}}</option>
              {{/each}}
            </select>
           </div>
         </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <button class="button is-link">Update</button>
          </div>
        </td>
      </tr>
      </tbody>
</table>
</form>