<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each place.monuments}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{location.lat}}
        </td>
        <td>
          {{location.lng}}
        </td>
        <td>
          {{cat}}
        </td>
        <td>
          <a href="/place/{{../place._id}}/deletemonument/{{_id}}" class="button">
            <span class="icon-text">
              <span class="icon has-text-danger">
                <i class="far fa-times-circle"></i>
              </span>
            </span>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
